*.gif
*.xlsx
*.pyc
*.pptx

PIV_Campaign_Processing/pressure_ledar.txt
PIV_Campaign_Processing/pressure_piv.txt
Cap_Rise_Anna/new_processing/comparison_theta_over_time.png
Cap_Rise_Anna/new_processing/comparison_theta.png
PIV_Campaign_Processing/Rise_processing/Mode_3_idx_1516.png
PIV_Campaign_Processing/Rise_processing/Mode_4_idx_1516.png
PIV_Campaign_Processing/Rise_processing/Mode_4_idx_1513.png
PIV_Campaign_Processing/Rise_processing/Mode_3_idx_1513.png
PIV_Campaign_Processing/Rise_processing/Mode_2_idx_1516.png
PIV_Campaign_Processing/Rise_processing/Mode_2_idx_1513.png
PIV_Campaign_Processing/Rise_processing/Mode_1_idx_1516.png
PIV_Campaign_Processing/Rise_processing/Mode_1_idx_1513.png
PIV_Campaign_Processing/Rise_processing/sig2noise_ratio_mode_removal_comparison.png
PIV_Campaign_Processing/Post_Processing/continuous_signal_u.png
PIV_Campaign_Processing/Post_Processing/continuous_signal_u_bad.png
PIV_Campaign_Processing/Post_Processing/continuous_signal_v.png
PIV_Campaign_Processing/Post_Processing/continuous_signal_v_bad.png
PIV_Campaign_Processing/Post_Processing/interrupted_signal_u.png
PIV_Campaign_Processing/Post_Processing/interrupted_signal_v.png
PIV_Campaign_Processing/Post_Processing/left_column_u.png
PIV_Campaign_Processing/Post_Processing/left_column_u_bad.png
PIV_Campaign_Processing/Post_Processing/left_column_v.png