
Slides/~$campaign_processing_observations.pptx
Slides/campaign_processing_observations.pptx
*.gif
PIV_Campaign_Processing/Fall_rect_win_moving_ROI/test_runs_fall.xlsx
PIV_Campaign_Processing/Fall_rect_win_moving_ROI/Observation_periods.xlsx
*.xlsx
*.pyc
*.pyc
PIV_Campaign_Processing/Rise_processing/__pycache__/post_processing_functions.cpython-37.pyc
PIV_Campaign_Processing/Rise_processing/__pycache__/windef_rect_rise.cpython-37.pyc
Cap_Rise_Anna/new_processing/__pycache__/Image_processing_functions.cpython-37.pyc
PIV_Campaign_Processing/pressure_ledar.txt
PIV_Campaign_Processing/pressure_piv.txt
Cap_Rise_Anna/new_processing/comparison_theta_over_time.png
Cap_Rise_Anna/new_processing/comparison_theta.png
PIV_Campaign_Processing/Rise_processing/Mode_3_idx_1516.png
PIV_Campaign_Processing/Rise_processing/Mode_4_idx_1516.png
PIV_Campaign_Processing/Rise_processing/Mode_4_idx_1513.png
PIV_Campaign_Processing/Rise_processing/Mode_3_idx_1513.png
PIV_Campaign_Processing/Rise_processing/Mode_2_idx_1516.png
PIV_Campaign_Processing/Rise_processing/Mode_2_idx_1513.png
PIV_Campaign_Processing/Rise_processing/Mode_1_idx_1516.png
PIV_Campaign_Processing/Rise_processing/Mode_1_idx_1513.png
*.pptx
